.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #cccccc;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg .tg-4eph {
    background-color: #f9f9f9;
}

.button {
    height: 50px;
    padding: 0 35px;
    border-radius: 50px;
    line-height: 50px;
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    transition: background-color .2s;
    color: #fff;
    background-color: #18a3fa;
}